*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input {
  outline: none;
}

h1, h2, h3, h4,h5, h6 {
  margin: 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header__btn {
  padding: 8px 12px;
  color: white;
  background-color: #555A88;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms filter ease-in-out;
}

.header__btn:hover {
  filter: brightness(1.2);
}

.users-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.user {
  border: 1px solid #E5E5E5;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  transition: 100ms box-shadow ease-in-out;
}

.user:hover {
  box-shadow: 1px 1px 15px #0003;
}

.user__title {
  margin-bottom: 20px;
}

.user__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.user__item span{
  color: #D3D3D3;
  text-transform: uppercase;
}

.user__item span i {
  color: black;
  margin-right: 4px;
}

.user__container-btn {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.user__btn {
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 25px;
  cursor: pointer;
  transition: 100ms transform ease-in-out;
}

.user__btn:hover {
  transform: scale(1.1);
}

.user__btn:first-child {
  background-color: #D85D5D;
  color: white;
}

.user__btn:last-child {
  color: #aaaaaa;
}

.container-form {
  position: fixed;
  background-color: #0003;
  backdrop-filter: blur(2px);
  z-index: 2;
  top: 0;
  min-height: 100vh;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form.disable-form {
  display: none;
}

.form {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  position: relative;
}

.form__x {
  position: absolute;
  top: 10px;
  color: #D85D5D;
  font-size: 30px;
  right: 10px;
  cursor: pointer;
  transition: 200ms transform ease-in-out;
}

.form__x:hover {
  transform: scale(1.2);
}

.form__title{
  font-size: 24px;
}

.form__div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}

.form__label {
  font-size: 13px;
}

.form__input{
  font-family: inherit;
  padding: 8px 10px;
  background-color: #F9FAFC;
  border: 1px solid #003;
  border-radius: 4px;
}

.form__btn {
  width: 100%;
  padding: 8px 12px;
  color: white;
  background-color: #555A88;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms filter ease-in-out;
}

.form__btn:hover {
  filter: brightness(1.2);
}